<div class="bg-yellow-100 h-full w-[250px] flex flex-col gap-5">
  <div class="icon">
    <div class="bg-blue-100 p-5 flex justify-center mb-5">
      <img src="/logo.png" alt="" width="100">
    </div>
  </div>
  <div class="menu">
    <div class="bg-red-100 flex justify-center p-3">
      <a href="/users/create">menu 1</a>
    </div>
    <div class="bg-red-100 flex justify-center p-3">
      <a href="/users/edit">menu 2</a>
    </div>
    <div class="bg-red-100 flex justify-center p-3">
      <a href="/users">menu 3</a>
    </div>
    <div class="bg-red-100 flex justify-center p-3">
      <a href="/users/detail/1">menu 4</a>
    </div>
  </div>
  <div class="mode">
    <div class="bg-violet-100 mt-5 p-5 flex gap-3">
      <div class="text-md">Busy Mode</div>
      <div class="">
        <input type="checkbox" name="" value="">
      </div>
    </div>
  </div>
</div>
